// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-users{
	margin: 20px;
	border-radius: 16px;
	background: rgba(255,255,255,0.8);
	padding: 20px;
	table{
		width: 100%;
		th,td{
			border: 1px solid #444 !important;
			table-layout:fixed !important;
			word-break: break-all;
			&.user_id{
				width: 32px;
			}
			&.uid{
				width: 82px;
			}
			&.name, &.nickname{
				width: 80px;
			}
			&.gender{
				width: 60px;
			}
			&.belonging{
				width: 100px;
			}
			&.birthday{
				width: 64px;
			}
			&.location{
				width: 106px;
			}
			&.email{
				width: 120px;
			}
			&.meetings{
				width: 160px;
			}
			&.last_sign_in_at, &.created_at{
				width: 58px;
			}
		}
		ul,li{
			margin-left: -10px;
		}
	}
}