/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require highlight_js/github
 */

@import "bootstrap";

$header-top: 8px;
$header-height: 50px;
$header-color: #08b7ae;

// サイドバーの大きさ
$sidebar-width: 200px;

// サイドバーの透明部分（重なっている部分）の大きさ
$sidebar-lap: 13px;

html, body{
  height: 100%;
  // min-height: 100%;
  // height: auto;
}

body {
  -webkit-text-size-adjust: 100%;
}

.navbar{
  height: $header-height;
  // transition: all 0.4s ease 0s;

  .navbar-header{
    margin-top: $header-top;
    height: $header-height - $header-top;
    background: $header-color;
    width: 100%;

    .navbar-left{
      .menu-button {
        float: left;
        display: none;
        margin: 3px;
        margin-left: 8px;
      }
      .header-icon{
        float: left;
        margin-left: 6px;
        margin-top: -$header-top - 1;
        width: 60px;
        height: 72px;
        background: image-url("header_icon.png");
      }
      .brand{
        float: left;
        a{
          &.navbar-brand{
            font-size: 22px;
            padding-top: ($header-height - 28) / 2;
          }
          color: #fff;
        }
      }
    }

    .navbar-right{
      padding-top:($header-height - 30) / 2;
      margin-right:40px;
      .link-new-meeting{
        cursor: pointer;
        height: $header-height - 30;
        .plus-new-meeting{
          float:left;
          margin-top: 1px;
          color: $header-color;
          font-size: 14px;
          background: #fff;
          width: 20px;
          text-align:center;
          border-radius: 4px;
        }
        .text-new-meeting{
          float:left;
          margin-left: 6px;
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
}

#wrapper {
  position: relative;
  margin-top: $header-height;
  height: 100%;
  min-height: 100%;
  // height: auto;
  .sidebar{
    position: fixed; // 絶対固定座標
    // margin-left: -$sidebar-width;
    // left: $sidebar-width;
    width: $sidebar-width;
    height: 100%;
    background-color: transparent;
    overflow-y: auto;
    z-index: 900;
    transition: all 0.4s ease 0s;
    -webkit-transform: translate3d(0, 0px, 1px);
    -moz-transform: translate3d(0, 0px, 1px);
    transform: translate3d(0, 0px, 1px);


    .sidebar-nav {
      position: absolute;
      top: 4px;
      width: $sidebar-width;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: $sidebar-width;
        height: 80px;
        background: image-url("nav_item_normal.png");
        font-size: 18px;
        padding-left: 24px;
        padding-top: 27px;
        cursor: pointer;
        p {
          display: table;
          text-decoration: none;
          color: #666666;
          width:108px;
          text-align: center;
          &:hover {
            color: #ffffff;
            text-decoration: none;
          }
          &:active, &:focus {
            text-decoration: none;
          }
        }

        &.nav-item-active{
          background: image-url("nav_item_active.png");
          p {
            color: #fff;
          }
        }

        &:hover{
          background-image: image-url("nav_item_hover.png");
          p {
            color: $header-color;
          }
        }

      }
    }

  }

  .main{
    // position:absolute;
    margin-left: $sidebar-width - $sidebar-lap;
    padding-top:13px;
    transition: all 0.4s ease 0s;
    height: 100%;
    min-height: 100%;
    .main_contents{
      position: relative;
      padding-top: 5px;
      background-image: image-url("background.png");
      background-size: 100%;
      background-position:center top;
      background-repeat:no-repeat;
      -moz-background-size:cover;
      background-size:cover;
      height: 100%;
      min-height: 100%;
      height: auto;
    }
  }
}

// body > #wrapper {
    
// }


hr {
  background-color: #8b8b8b;
  border: 1px solid #000;
  margin:0;
  clear: both;

  &.dot_line{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
  }
}

@media (max-width:767px) {

  .navbar{
    // &.active {
    //   -webkit-transform: translate3d($sidebar-width, 0px, 1px);
    //   -moz-transform: translate3d($sidebar-width, 0px, 1px);
    //   transform: translate3d($sidebar-width, 0px, 1px);
    // }
    .navbar-header{
      .navbar-left{
        .header-icon {
          display: none;
        }
        // .brand {
        //   display: none;
        // }
        .menu-button {
          display: inline-block;
        }
      }
      .navbar-right{
        float: right !important;
        .link-new-meeting{
          .text-new-meeting{
            display: none;
          }
        }
      }
    }
  }

  #wrapper {
    .sidebar{
      // margin-top: -$header-height;
      -webkit-transform: translate3d(-$sidebar-width, 0px, 1px);
      -moz-transform: translate3d(-$sidebar-width, 0px, 1px);
      transform: translate3d(-$sidebar-width, 0px, 1px);
      &.active {
        // left: $sidebar-width;
        // width: $sidebar-width;
        // transition: left 0.4s ease 0s;
        -webkit-transform: translate3d(0px, 0px, 1px);
        -moz-transform: translate3d(0px, 0px, 1px);
        transform: translate3d(0px, 0px, 1px);
      }
    }

    .main {
      margin-left:0;
      &.active {
        margin-left: $sidebar-width - $sidebar-lap;
      }
    }

  }

}

@media (min-width:768px) {
  .main_contents {
    .container {
      width: 100%;
    }
  }
}

pre code{
  background: transparent !important;
}

input[type=text], textarea{
  opacity: 0.90;
  color: black !important;
  font-size: 17px !important;
}
