/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require highlight_js/github
 */

@import "bootstrap";

$header-height: 50px;
$sidebar-width: 180px;

body {
  -webkit-text-size-adjust: 100%;
}

.navbar{
  height: $header-height;
  transition: all 0.4s ease 0s;
  overflow: hidden;
}

#wrapper {
  background-color:gray;
  margin-top: $header-height;

  .sidebar{
    position: fixed; // 絶対固定座標
    margin-left: -$sidebar-width;
    left: $sidebar-width;
    width: $sidebar-width;
    height: 100%;
    background-color: #6b6b6b;
    overflow-y: auto;
    z-index: 1000;

    .sidebar-nav {
      position: absolute;
      top: 20px;
      width: $sidebar-width;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: $sidebar-width;
        height: 80px;
        padding: 14px;

        &.nav_item_event{
          background-image: image-url("nav_item_active.png");
        }

        .sidebar_icon{
          float:left;
        }
        .sidebar_text{
          float:left;
          margin-left:10px;
        }

        a {
          display: table;
          text-decoration: none;
          color: #a9e0cb;
          &:hover {
            color: #ffffff;
            text-decoration: none;
          }
          &:active, &:focus {
            text-decoration: none;
          }
        }

        &:nth-child(odd) {
          background-color: #548575
        }

        &:nth-child(even) {
          background-color: #68a58f
        }
      }
    }

  }

  .main{
    margin: 20px;
    padding-left:$sidebar-width;
  }
}

hr {
  background-color: #8b8b8b;
  border: 1px solid #8b8b8b;
  margin:0;

  &.dot_line{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
  }
}

.brand {
  float: left;
}

.menu-button {
  display: none;
  float: left;
  margin: 8px;
}

@media (max-width:767px) {

  .navbar{
    &.active {
      margin-left:$sidebar-width;
      transition: all 0.4s ease 0s;
    }
  }

  #wrapper {
    .sidebar{
      transition: left 0.4s ease 0s;
      margin-top: -$header-height;
      left: 0;
      &.active {
        left: $sidebar-width;
        width: $sidebar-width;
        transition: left 0.4s ease 0s;
      }
    }

    .main {
      padding-left: 0;
    }

  }

  .menu-button {
    display: inline-block;
  }

}

pre code{
  background: transparent !important;
}