#meeting_body{
	line-height: 1.5em;
	resize: none;
	height: 250px;
}

.meeting{
	margin-top: 20px;
	padding: 0px;
	border-radius: 4px;
	border: 1px solid;
}
.current_members_num{
	text-align: center;
	font-size: 60px;
}

.preview{
	margin: 0;
	background-color: #eee;
	zoom:75%;
}